.paymentoftuitionfees-child {
    width: 1250px;
    height: 7px;
    position: relative;
    object-fit: contain;
    transform: rotate(-0.2deg);
    display: none;
    max-width: 100%;
    z-index: 0;
}

.online-fees-payment {
    margin: 0 !important;
    width: 598px;
    height: 66px;
    position: absolute;
    top: 83px;
    left: 2.1px;
    font-size: inherit;
    letter-spacing: -0.01em;
    line-height: 150%;
    display: flex;
    font-style: italic;
    font-weight: 900;
    font-family: inherit;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.paymentoftuitionfees-item {
    width: 1250px;
    height: 7px;
    position: relative;
    object-fit: contain;
    transform: rotate(-0.2deg);
    display: none;
    max-width: 100%;
    z-index: 2;
}

.text,
.text-icon,
.text-icon1 {
    position: absolute;
    width: 100%;
    height: 100%;
}

.text {
    top: 0.1px;
    left: 0.4px;
    background-color: var(--color-gainsboro-300);
}

.text-icon,
.text-icon1 {
    object-fit: contain;
    transform: rotate(-0.2deg);
}

.text-icon {
    right: -0.4px;
    bottom: -1.3px;
    z-index: 1;
}

.text-icon1 {
    top: 0.3px;
    left: 0.4px;
    z-index: 2;
}

.student-info-frame {
    align-self: stretch;
    height: 49px;
    position: relative;
}

.payment-summary {
    width: 63px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-10xs);
    box-sizing: border-box;
}

.bank-center {
    margin: 0;
    height: 58px;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 800;
    font-family: inherit;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.line {
    width: 406px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 0 26px;
    max-width: 100%;
}

.line1 {
    position: absolute;
    top: 0.5px;
    left: -0.6px;
    background-color: var(--color-gainsboro-300);
    width: 63px;
    height: 49px;
}

.frame-icon,
.frame-icon1 {
    position: absolute;
    object-fit: contain;
    transform: rotate(-0.2deg);
}

.frame-icon {
    bottom: -1.7px;
    left: -2.4px;
    width: 62.8px;
    height: 49.2px;
    z-index: 1;
}

.frame-icon1 {
    top: 2.7px;
    left: -0.6px;
    width: 63.2px;
    height: 48.8px;
    z-index: 2;
}

.rectangle2 {
    height: 49px;
    width: 79px;
    position: relative;
}

.frame-child1,
.image-7-icon {
    position: absolute;
    transform: rotate(-0.2deg);
}

.frame-child1 {
    top: 0.22px;
    left: 0;
    background-color: var(--color-gainsboro-300);
    width: 63px;
    height: 49px;
    transform-origin: 0 0;
}

.image-7-icon {
    top: 7px;
    left: 16px;
    width: 31px;
    height: 36px;
    object-fit: contain;
    z-index: 1;
}

.rectangle-parent1 {
    height: 49px;
    width: 84px;
    position: relative;
}

.unknown-01 {
    align-self: stretch;
    height: 22px;
    position: relative;
    font-weight: 500;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.bank-details {
    height: 43px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-xl) 0 0;
    box-sizing: border-box;
}

.i-d-name-phone {
    position: absolute;
    height: 100%;
    width: 100%;
    top: -0.1px;
    right: -0.4px;
    bottom: 0.1px;
    left: 0.4px;
    background-color: var(--color-gainsboro-300);
}

.student-info-frame-child,
.student-info-frame-item {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: rotate(-0.2deg);
}

.student-info-frame-child {
    top: -0.1px;
    right: -0.4px;
    bottom: -0.1px;
    max-height: 100%;
    z-index: 1;
}

.student-info-frame-item {
    right: -0.6px;
    bottom: 0.1px;
    left: 0.4px;
    max-width: 100%;
    overflow: hidden;
    z-index: 2;
}

.student-info-frame1 {
    align-self: stretch;
    height: 49px;
    position: relative;
}

.frame-div,
.payment-summary1 {
    align-items: flex-start;
    justify-content: flex-start;
}

.payment-summary1 {
    width: 63px;
    display: flex;
    flex-direction: column;
    padding: var(--padding-10xs) 0 0;
    box-sizing: border-box;
}

.frame-div {
    width: 453px;
    gap: 0 22px;
    font-size: var(--font-size-5xl);
}

.frame-div,
.rectangle-wrapper,
.rectangle1 {
    display: flex;
    flex-direction: row;
    max-width: 100%;
}

.rectangle1 {
    align-self: stretch;
    flex: 1;
    align-items: flex-end;
    justify-content: space-between;
    gap: var(--gap-xl);
}

.rectangle-wrapper {
    width: 1468px;
    height: 61px;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-12xl);
    box-sizing: border-box;
    text-align: left;
    font-size: var(--font-size-21xl);
    color: var(--color-black);
    font-family: var(--font-mulish);
}

.fee-subject-line {
    width: 1440px;
    height: 3.1px;
    position: relative;
    object-fit: contain;
    transform: rotate(-0.2deg);
    max-width: 100%;
    z-index: 4;
}

.user-id,
.user-name,
.user-phone {
    height: 22px;
    position: relative;
    font-weight: 600;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    z-index: 3;
}

.user-id {
    width: 162px;
}

.user-name,
.user-phone {
    align-self: stretch;
}

.payment-details-frame,
.payment-details-frame-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.payment-details-frame {
    align-self: stretch;
    gap: 20px 0;
}

.payment-details-frame-wrapper {
    width: 180px;
    padding: 0 0 var(--padding-8xs);
    box-sizing: border-box;
}

.email-frame-child,
.email-frame-inner,
.email-frame-item {
    border: 3px solid var(--color-black);
    outline: 0;
    background-color: var(--secondary-white);
    align-self: stretch;
    height: 32px;
    position: relative;
    box-sizing: border-box;
    min-width: 179px;
    z-index: 3;
}

.email-frame-inner,
.email-frame-item {
    min-width: 178px;
}

.email-frame {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-mini) 0 0;
    box-sizing: border-box;
    gap: 12px 0;
    min-width: 203px;
}

.email {
    align-self: stretch;
    height: 22px;
    position: relative;
    font-weight: 600;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    z-index: 4;
}

.payment-info {
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) 0 0;
    box-sizing: border-box;
}

.email-input {
    border: 3px solid var(--color-black);
    outline: 0;
    background-color: var(--secondary-white);
    height: 32px;
    width: 296.7px;
    position: relative;
    box-sizing: border-box;
    z-index: 3;
}

.payment-frame {
    flex: 1;
    align-items: flex-start;
    min-width: 448px;
    row-gap: 20px;
}

.frame-group,
.payment-frame,
.user-i-d-name-inner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 100%;
}

.frame-group {
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    gap: 0 17px;
}

.user-i-d-name-inner {
    width: 899px;
    align-items: flex-start;
    padding: 0 var(--padding-7xs);
    box-sizing: border-box;
}

.fee-subjectper-month,
.rm-50 {
    position: absolute;
    font-weight: 600;
    align-items: center;
}

.rm-50 {
    top: 206px;
    left: 1093.6px;
    display: none;
    width: 79.4px;
    height: 17.9px;
    white-space: nowrap;
}

.fee-subjectper-month {
    top: 14px;
    left: 1015px;
    display: flex;
    width: 270.7px;
    height: 23.6px;
    z-index: 1;
}

.payment-monthly-fee-line,
.payment-monthly-fee-line1 {
    position: absolute;
    top: 6.8px;
    left: 994.9px;
    border-right: 3px solid var(--color-black);
    box-sizing: border-box;
    width: 3px;
    height: 235.4px;
    z-index: 1;
}

.payment-monthly-fee-line1 {
    top: 6.3px;
    left: 654px;
}

.fee-details-child {
    position: absolute;
    top: 1.3px;
    left: 150.5px;
    width: 1px;
    height: 227.4px;
    object-fit: contain;
    transform: rotate(-0.2deg);
    z-index: 1;
}

.madam-intan-bt,
.rm-501,
.sir-kumar-al {
    position: absolute;
    font-weight: 600;
    display: none;
    align-items: center;
}

.rm-501 {
    top: 63.7px;
    left: 1094.2px;
    width: 79.4px;
    height: 17.9px;
    white-space: nowrap;
}

.madam-intan-bt,
.sir-kumar-al {
    top: 211.3px;
    left: 710px;
    width: 230.6px;
    height: 17.6px;
}

.sir-kumar-al {
    top: 157.7px;
    left: 720.4px;
    white-space: pre-wrap;
    width: 210.1px;
}

.sir-abdul-bin {
    top: 113.4px;
    left: 736.8px;
    display: none;
    width: 154.7px;
    height: 17.6px;
}

.div,
.div1,
.madam-fatimah-bt,
.sir-abdul-bin {
    position: absolute;
    font-weight: 600;
    align-items: center;
}

.madam-fatimah-bt {
    top: 66.1px;
    left: 700.3px;
    display: none;
    width: 228.5px;
    height: 17.6px;
}

.div,
.div1 {
    width: 25px;
}

.div {
    top: 197px;
    left: 516px;
    display: none;
    height: 17.6px;
}

.div1 {
    top: 119px;
    left: 511px;
}

.div1,
.div2,
.math {
    display: none;
    height: 17.6px;
}

.div2 {
    position: absolute;
    top: 75px;
    left: 513px;
    font-weight: 600;
    align-items: center;
    width: 25px;
}

.math {
    top: 194px;
    left: 258px;
    width: 49px;
}

.english,
.malay,
.math,
.science {
    position: absolute;
    font-weight: 600;
    align-items: center;
}

.science {
    top: 158px;
    left: 254px;
    display: none;
    width: 72px;
    height: 17.6px;
}

.english,
.malay {
    left: 251px;
}

.malay {
    top: 119px;
    display: none;
    width: 58px;
    height: 17.6px;
}

.english {
    top: 66px;
    width: 68px;
}

.english,
.mt004,
.s0025 {
    display: none;
    height: 17.6px;
}

.mt004 {
    position: absolute;
    top: 196px;
    left: 45px;
    font-weight: 600;
    align-items: center;
    width: 66px;
}

.s0025 {
    top: 158px;
    left: 44px;
    width: 61px;
}

.div3,
.rm-502,
.s0025,
.xxx {
    position: absolute;
    font-weight: 600;
    align-items: center;
}

.xxx {
    top: 15px;
    left: 261px;
    display: flex;
    width: 33px;
    height: 17.6px;
    z-index: 1;
}

.div3,
.rm-502 {
    display: none;
}

.rm-502 {
    top: 157.4px;
    left: 1093.8px;
    width: 79.4px;
    height: 17.9px;
    white-space: nowrap;
}

.div3 {
    top: 158px;
    left: 510px;
    width: 25px;
    height: 17.6px;
}

.b0002 {
    top: 66px;
    left: 45px;
    display: none;
    width: 62px;
}

.b0002,
.b0003,
.id-fee,
.xxxxx,
.xxxxx1 {
    position: absolute;
    font-weight: 600;
    align-items: center;
    height: 17.6px;
}

.b0003 {
    top: 116px;
    left: 45px;
    display: none;
    width: 62px;
}

.id-fee,
.xxxxx,
.xxxxx1 {
    top: 17px;
    left: 769px;
    display: flex;
    width: 55px;
    z-index: 1;
}

.id-fee,
.xxxxx1 {
    top: 15px;
    left: 487px;
    width: 71.7px;
}

.id-fee {
    top: 14.3px;
    left: 35.1px;
    width: 98.4px;
    height: 25px;
}

.payment-monthly-fee-line2 {
    position: absolute;
    top: 3.3px;
    left: 418.4px;
    border-right: 3px solid var(--color-black);
    box-sizing: border-box;
    width: 3px;
    height: 235.4px;
    z-index: 1;
}

.rm-503 {
    position: absolute;
    top: 116.6px;
    left: 1094px;
    font-weight: 600;
    display: none;
    align-items: center;
    width: 79.4px;
    height: 17.9px;
    white-space: nowrap;
}

.fee-details-inner,
.fee-details-item {
    position: absolute;
    width: 1250px;
    height: 7px;
    object-fit: contain;
    transform: rotate(-0.2deg);
}

.fee-details-item {
    top: 95.8px;
    left: 2.1px;
    display: none;
}

.fee-details-inner {
    top: 147.8px;
    left: 4.1px;
    z-index: 2;
}

.student-i-d-info-child {
    position: absolute;
    top: 0.3px;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(-0.2deg);
}

.payment-amount-list-child {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #e2e1e5;
    border: 2px solid var(--color-black);
    box-sizing: border-box;
    width: 1250px;
    height: 191.5px;
}

.frame-child2,
.payment-subject-detail {
    position: absolute;
    transform: rotate(-0.2deg);
    transform-origin: 0 0;
}

.frame-child2 {
    top: 4.25px;
    left: 0;
    background-color: #c8426a;
    width: 100%;
    height: 100%;
}

.payment-subject-detail {
    top: 4.09px;
    left: 1180px;
    background-color: var(--color-darkblue);
    width: 27px;
    height: 31px;
    cursor: pointer;
    z-index: 6;
}

.frame-child3,
.rectangle-parent2 {
    position: absolute;
    top: 17px;
    left: 29px;
    width: 1217px;
    height: 43px;
}

.frame-child3 {
    top: 4.25px;
    left: 0;
    background-color: var(--color-yellowgreen);
    width: 100%;
    height: 100%;
    transform: rotate(-0.2deg);
    transform-origin: 0 0;
}

.payment-amount-list1 {
    position: absolute;
    top: 13px;
    left: 412px;
    font-weight: 600;
    display: flex;
    align-items: center;
    width: 277.1px;
    height: 22px;
    z-index: 6;
}

.payment-info-text {
    position: absolute;
    top: 6.09px;
    left: 1180px;
    background-color: var(--color-darkblue);
    width: 27px;
    height: 31px;
    transform: rotate(-0.2deg);
    transform-origin: 0 0;
    z-index: 6;
}

.rectangle-parent3 {
    position: absolute;
    top: 72px;
    left: 29px;
    width: 1217px;
    height: 43px;
}

.frame-child4,
.frame-child5 {
    position: absolute;
    top: 4.25px;
    left: 0;
    background-color: var(--color-yellowgreen);
    width: 100%;
    height: 100%;
    transform: rotate(-0.2deg);
    transform-origin: 0 0;
}

.frame-child5 {
    top: 6.09px;
    left: 1180px;
    background-color: var(--color-darkblue);
    width: 27px;
    height: 31px;
    z-index: 6;
}

.rectangle-parent4 {
    position: absolute;
    top: 126px;
    left: 29px;
    width: 1217px;
    height: 43px;
}

.payment-amount-list,
.student-i-d-info {
    position: absolute;
    top: 43px;
    left: 2px;
    width: 100%;
    height: 196px;
}

.student-i-d-info {
    top: 0;
    left: 0;
    height: 100%;
    font-size: var(--font-size-5xl);
}

.fee-details {
    align-self: stretch;
    height: 239px;
    position: relative;
    font-size: var(--font-size-xl);
}

.i-d-name,
.user-i-d-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.user-i-d-name {
    align-self: stretch;
    gap: 48px 0;
    max-width: 100%;
}

.i-d-name {
    width: 1252px;
    padding: 86px 0 0;
    box-sizing: border-box;
    max-width: calc(100% - 21px);
}

.line-icon {
    height: 172.7px;
    width: 1.4px;
    position: relative;
    object-fit: contain;
    transform: rotate(-0.2deg);
}

.frame-child6 {
    height: 100px;
    width: 100px;
    position: absolute;
    margin: 0 !important;
    top: 19.35px;
    left: 223px;
    overflow: hidden;
    flex-shrink: 0;
    transform: rotate(-0.2deg);
    transform-origin: 0 0;
    z-index: 5;
}

.payment-services-child,
.payment-subject-details {
    width: 100%;
    position: absolute;
    margin: 0 !important;
    border: 3px solid var(--color-black);
    box-sizing: border-box;
}

.payment-services-child {
    height: 100%;
    top: 0;
    right: 3.6px;
    bottom: 6px;
    left: 0;
    background-color: #f8f5f5;
}

.payment-subject-details {
    height: calc(100% - 5.1px);
    top: 0.7px;
    right: 0.2px;
    bottom: 4.4px;
    left: -0.2px;
    background-color: var(--color-lightgray-200);
    z-index: 3;
}

.payment-subject-detail1 {
    height: 22px;
    width: 463px;
    position: relative;
    font-weight: 600;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    max-width: 100%;
    z-index: 4;
}

.student-info,
.student-info-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    max-width: 100%;
}

.student-info {
    flex: 1;
    padding: 0 var(--padding-12xl) var(--padding-5xs);
    position: relative;
    min-height: 32px;
}

.student-info-wrapper {
    align-self: stretch;
    padding: 0 var(--padding-11xs);
    flex-shrink: 0;
}

.online-banking-text-child {
    height: calc(100% - 5.6px);
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: -0.3px;
    right: 0.3px;
    bottom: 5.9px;
    left: -0.3px;
    background-color: var(--color-lightgray-200);
    border: 3px solid var(--color-black);
    box-sizing: border-box;
    z-index: 1;
}

.online-banking-text,
.payment-information {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 100%;
}

.payment-information {
    height: 22px;
    width: 463px;
    font-weight: 600;
    flex-shrink: 0;
    z-index: 2;
}

.online-banking-text {
    align-self: stretch;
    flex-direction: row;
    justify-content: flex-start;
    padding: var(--padding-8xs) var(--padding-3xl) var(--padding-3xs);
    box-sizing: border-box;
    min-height: 39px;
}

.student-id,
.students-full-name {
    height: 22px;
    position: relative;
    font-weight: 600;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.student-id {
    width: 179px;
    z-index: 1;
}

.students-full-name {
    align-self: stretch;
    z-index: 2;
}

.online-banking-label {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px 0;
}

.online-banking {
    height: 22px;
    position: relative;
    font-weight: 600;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    z-index: 1;
}

.student-i-dand-name-box {
    position: absolute;
    top: 8px;
    left: 0;
    width: 246px;
    height: 148px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 59px 0;
}

.polygon-shape-child,
.polygon-shape-item {
    border: 3px solid var(--color-black);
    outline: 0;
    background-color: var(--secondary-white);
    align-self: stretch;
    height: 32px;
    position: relative;
    box-sizing: border-box;
    min-width: 194px;
    z-index: 1;
}

.polygon-shape-item {
    min-width: 193px;
}

.polygon-shape {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 17px 0;
    min-width: 210px;
    max-width: 100%;
}

.online-payment-service-label-child {
    width: 26px;
    flex: 1;
    position: relative;
    max-height: 100%;
    transform: rotate(-0.2deg);
    z-index: 1;
}

.online-payment-service-label,
.polygon-shape-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.online-payment-service-label {
    height: 57px;
    flex-direction: column;
    padding: var(--padding-6xs) 0 0;
    box-sizing: border-box;
}

.polygon-shape-parent {
    align-self: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0 18px;
    max-width: 100%;
}

.mandatory-fee-label {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    bottom: -4px;
    left: -18px;
    background-color: var(--secondary-white);
    border: 3px solid var(--color-black);
    box-sizing: border-box;
    z-index: 1;
}

.payment-info-label {
    height: 100px;
    width: 100px;
    position: absolute;
    margin: 0 !important;
    right: -44.4px;
    bottom: -67.4px;
    overflow: hidden;
    flex-shrink: 0;
    transform: rotate(-0.2deg);
    z-index: 2;
}

.online-payment-service {
    height: 22px;
    flex: 1;
    position: relative;
    font-weight: 600;
    display: flex;
    align-items: center;
    z-index: 3;
}

.mandatory-fee-label-parent {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
}

.enter-payment-amount,
.enter-payment-amount-inner {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
}

.enter-payment-amount-inner {
    width: 348px;
    height: 23px;
    flex-direction: row;
    padding: 0 var(--padding-base);
    box-sizing: border-box;
}

.enter-payment-amount {
    position: absolute;
    top: 0;
    left: 245px;
    width: 367px;
    flex-direction: column;
    gap: 41px 0;
    color: #757575;
}

.m-hc-ph,
.payment-details-container {
    position: relative;
    transform: rotate(-0.2deg);
    z-index: 1;
}

.m-hc-ph {
    width: 104px;
    border: 0;
    outline: 0;
    font-weight: 600;
    font-family: var(--font-inter);
    font-size: var(--font-size-xl);
    background-color: transparent;
    height: 30px;
    letter-spacing: -0.01em;
    line-height: 150%;
    color: var(--color-black);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.payment-details-container {
    height: 37px;
    flex: 1;
    background-color: var(--color-gainsboro-300);
    min-width: 175px;
}

.rectangle-shape-for-fee,
.vietnamese-text-for-fee {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 100%;
}

.rectangle-shape-for-fee {
    width: 392px;
    flex-wrap: wrap;
    align-items: center;
    gap: 0 18px;
}

.vietnamese-text-for-fee {
    align-self: stretch;
    align-items: flex-start;
}

.student-i-d-and-name-label-child {
    width: 265px;
    height: 42px;
    position: relative;
    object-fit: contain;
    transform: rotate(-0.2deg);
    z-index: 1;
}

.student-i-d-and-name-label {
    width: 513px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 9px 0;
    max-width: 100%;
}

.enter-your-amount {
    align-self: stretch;
    height: 22px;
    position: relative;
    font-weight: 600;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    z-index: 1;
}

.enter-amount-input-label {
    height: 26px;
    width: 255px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-10xs);
    box-sizing: border-box;
}

.student-info-container {
    width: 323px;
    height: 32px;
    position: relative;
    background-color: var(--secondary-white);
    border: 3px solid var(--color-black);
    box-sizing: border-box;
    max-width: 100%;
    z-index: 1;
}

.online-banking-logo {
    height: 33px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    box-sizing: border-box;
}

.confirm-payment-button {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    row-gap: 20px;
}

.fee-summary-container {
    position: absolute;
    top: 0;
    left: 621px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 34px 0;
    max-width: 100%;
}

.payment-amount-list2 {
    height: 155px;
    flex: 1;
    position: relative;
    max-width: 100%;
}

.fee-and-subject-line,
.student-i-dand-name {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
}

.fee-and-subject-line {
    width: 1232px;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
}

.student-i-dand-name {
    align-self: stretch;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px 0;
    flex-shrink: 0;
}

.fee-details-frame-inner,
.i-d-name-parent,
.payment-services {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    max-width: 100%;
}

.payment-services {
    width: 1331px;
    margin: 0 !important;
    position: absolute;
    bottom: -334.5px;
    left: -1px;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 var(--padding-10xs) 77px 0;
    gap: 472px 0;
}

.fee-details-frame-inner,
.i-d-name-parent {
    flex-direction: row;
}

.i-d-name-parent {
    width: 1484.6px;
    justify-content: space-between;
    padding: var(--padding-8xs) 0 var(--padding-11xs) var(--padding-xl);
    position: relative;
    gap: var(--gap-xl);
    z-index: 2;
}

.fee-details-frame-inner {
    align-self: stretch;
    justify-content: flex-end;
    padding: 0 var(--padding-12xs);
}

.fee-details-frame,
.frame-parent,
.paymentoftuitionfees-inner {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.fee-details-frame {
    align-self: stretch;
    flex-direction: column;
    gap: 13px 0;
    max-width: 100%;
}

.frame-parent,
.paymentoftuitionfees-inner {
    flex-shrink: 0;
}

.frame-parent {
    width: 1535px;
    flex-direction: column;
    gap: 25px 0;
    max-width: 107%;
}

.paymentoftuitionfees-inner {
    align-self: stretch;
    flex-direction: row;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-black);
    font-family: var(--font-mulish);
}

.frame-for-services-list-child,
.rectangle-shape-for-group-child {
    position: relative;
    object-fit: contain;
    transform: rotate(-0.2deg);
    cursor: pointer;
}

.rectangle-shape-for-group-child {
    height: 57px;
    width: 199px;
}

.frame-for-services-list-child {
    align-self: stretch;
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.frame-for-services-list {
    height: 64px;
    width: 199px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-6xs) 0 0;
    box-sizing: border-box;
}

.rectangle-shape-for-group {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 100%;
    gap: var(--gap-xl);
}

.payment-service-name-label,
.paymentoftuitionfees {
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
}

.payment-service-name-label {
    width: 1326px;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 var(--padding-sm) 0 0;
    max-width: 100%;
    flex-shrink: 0;
}

.paymentoftuitionfees {
    width: 100%;
    position: relative;
    background-color: var(--secondary-white);
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    padding: 0 0 var(--padding-base) var(--padding-9xs);
    gap: 345px 0;
    transform: rotate(0.2deg);
    transform-origin: 0 0;
    letter-spacing: normal;
    text-align: center;
    font-size: 48px;
    color: var(--color-black);
    font-family: var(--font-inter);
}

@media screen and (max-width: 750px) {
    .online-fees-payment {
        font-size: var(--font-size-19xl);
        line-height: 58px;
    }

    .paymentoftuitionfees {
        gap: 345px 0;
    }
}

@media screen and (max-width: 675px) {
    .payment-frame {
        flex-wrap: wrap;
        min-width: 100%;
    }

    .user-i-d-name {
        gap: 48px 0;
    }

    .i-d-name {
        padding-top: 56px;
        box-sizing: border-box;
    }

    .confirm-payment-button {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 450px) {
    .online-fees-payment {
        font-size: var(--font-size-10xl);
        line-height: 43px;
    }

    .email,
    .user-id,
    .user-name,
    .user-phone {
        font-size: var(--font-size-lgi);
    }

    .b0002,
    .b0003,
    .div,
    .div1,
    .div2,
    .div3,
    .english,
    .fee-subjectper-month,
    .id-fee,
    .madam-fatimah-bt,
    .madam-intan-bt,
    .malay,
    .math,
    .mt004,
    .rm-50,
    .rm-501,
    .rm-502,
    .rm-503,
    .s0025,
    .science,
    .sir-abdul-bin,
    .sir-kumar-al,
    .xxx,
    .xxxxx,
    .xxxxx1 {
        font-size: var(--font-size-base);
    }

    .online-banking,
    .online-payment-service,
    .payment-amount-list1,
    .payment-information,
    .payment-subject-detail1,
    .student-id,
    .students-full-name {
        font-size: var(--font-size-lgi);
    }

    .m-hc-ph {
        font-size: var(--font-size-base);
        line-height: 24px;
    }

    .enter-your-amount {
        font-size: var(--font-size-lgi);
    }

    .payment-amount-list2 {
        height: auto;
        min-height: 155;
    }

    .rectangle-shape-for-group {
        flex-wrap: wrap;
    }

    .paymentoftuitionfees {
        gap: 345px 0;
    }
}