.abcbank {
    margin: 0;
    position: relative;
    font-size: inherit;
    letter-spacing: -0.01em;
    line-height: 150%;
    font-weight: 600;
    font-family: inherit;
}

.transaction-result-frames {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 var(--padding-mini);
}

.ellipse-shape {
    width: 146px;
    height: 131px;
    position: relative;
    border-radius: 50%;
    background-color: var(--color-gainsboro-300);
}

.thanh-ton-thnh {
    margin: 0;
    position: relative;
    font-size: inherit;
    letter-spacing: -0.01em;
    line-height: 150%;
    font-weight: 600;
    font-family: inherit;
}

.f-r-a-m-e {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.vnd4 {
    position: relative;
    letter-spacing: -0.01em;
    line-height: 150%;
    font-weight: 600;
}

.amount-display {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 var(--padding-mini);
}

.th-nm-ngy {
    position: relative;
    letter-spacing: -0.01em;
    line-height: 150%;
    font-weight: 600;
}

.thursday-date {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 var(--padding-smi);
    font-size: var(--font-size-mini);
}

.container-frame,
.f-r-a-m-e-parent {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
}

.f-r-a-m-e-parent {
    flex-direction: column;
    align-items: center;
    gap: 16px 0;
}

.container-frame {
    width: 498px;
    flex-direction: row;
    align-items: flex-start;
}

.tn-ngi-th,
.truong-x {
    position: relative;
    letter-spacing: -0.01em;
    line-height: 150%;
    font-weight: 600;
}

.person-frame {
    width: 872px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
    max-width: 100%;
}

.b-i-d-v-bank-text {
    height: 2.9px;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    object-fit: contain;
}

.transaction-i-d-frame {
    align-self: stretch;
    height: 3px;
    flex-direction: row;
    padding: 0 0 0 var(--padding-10xs);
    box-sizing: border-box;
}

.line-separator,
.recipient-name-frame,
.transaction-i-d-frame {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
}

.line-separator {
    flex: 1;
    flex-direction: column;
    gap: 13px 0;
}

.recipient-name-frame {
    align-self: stretch;
    flex-direction: row;
    padding: 0 0 var(--padding-xs) var(--padding-9xs);
    box-sizing: border-box;
}

.ti-khon-th,
.xxx-x {
    position: relative;
    letter-spacing: -0.01em;
    line-height: 150%;
    font-weight: 600;
}

.line-separator1,
.payment-result-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-4xs) 0 0;
}

.payment-result-frame {
    width: 876px;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0 var(--padding-9xs);
    box-sizing: border-box;
    gap: var(--gap-xl);
    max-width: 100%;
}

.transaction-details-frame1 {
    height: 3px;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    object-fit: contain;
}

.line-separator2 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-3xs);
    box-sizing: border-box;
    max-width: 100%;
}

.bidvbank1,
.ngn-hng-th {
    position: relative;
    letter-spacing: -0.01em;
    line-height: 150%;
    font-weight: 600;
}

.line-separator3,
.ngn-hang-thu-huong-label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-7xs) 0 0;
}

.ngn-hang-thu-huong-label {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0 var(--padding-7xs);
    gap: var(--gap-xl);
}

.details-frame-icon {
    height: 8px;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    object-fit: contain;
}

.line-separator4 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-9xs) 0 var(--padding-6xs);
    box-sizing: border-box;
    max-width: 100%;
}

.line-separator5,
.m-giao-dch {
    position: relative;
    letter-spacing: -0.01em;
    line-height: 150%;
    font-weight: 600;
}

.empty-frame1,
.noidung-label {
    display: flex;
    align-items: flex-start;
}

.empty-frame1 {
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-4xs) 0 0;
}

.noidung-label {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
}

.text-container {
    height: 1px;
    flex: 1;
    position: relative;
    border-top: 1px solid var(--color-black);
    box-sizing: border-box;
    max-width: 100%;
}

.group-container,
.transaction-info-frame {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
}

.group-container {
    align-self: stretch;
    height: 0;
    flex-direction: row;
    padding: 0 var(--padding-11xs) 0 var(--padding-10xs);
    box-sizing: border-box;
}

.transaction-info-frame {
    flex: 1;
    flex-direction: column;
    gap: 14px 0;
}

.maa-giao-dich-label {
    align-self: stretch;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 0 0 var(--padding-9xs);
    box-sizing: border-box;
}

.maa-giao-dich-label,
.transaction-details-frame,
.vnd-text {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
}

.transaction-details-frame {
    width: 888px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 13px 0;
}

.vnd-text {
    width: 1134px;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
}

.content-container {
    border: 0;
    outline: 0;
    background-color: var(--color-gainsboro-300);
    height: 50px;
    width: 48px;
    position: absolute;
    margin: 0 !important;
    right: 0;
    bottom: 3px;
}

.ni-dung {
    position: relative;
    letter-spacing: -0.01em;
    line-height: 150%;
    font-weight: 600;
}

.frame-child10 {
    height: 57px;
    width: 199px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--secondary-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    display: none;
}

.text-element {
    flex: 1;
    position: relative;
    font-size: var(--font-size-xl);
    letter-spacing: -0.01em;
    line-height: 150%;
    font-weight: 600;
    font-family: var(--font-inter);
    color: var(--color-gray-600);
    text-align: center;
    z-index: 1;
}

.rectangle-parent7 {
    cursor: pointer;
    border: 1px solid var(--color-black);
    padding: var(--padding-sm) var(--padding-5xl) var(--padding-smi) var(--padding-4xl);
    background-color: var(--secondary-white);
    flex: 1;
    border-radius: var(--br-xs);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.rectangle-parent7:hover,
.rectangle-parent8:hover {
    background-color: var(--color-gainsboro-100);
    border: 1px solid var(--color-darkslategray-200);
    box-sizing: border-box;
}

.grouping-frame {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 39px 0 0;
}

.content-text,
.grouping-frame,
.payment-info1 {
    display: flex;
    justify-content: flex-start;
}

.content-text {
    width: 238px;
    flex-direction: column;
    align-items: flex-end;
    gap: 42px 0;
}

.payment-info1 {
    width: 484px;
    flex-direction: row;
    align-items: center;
    position: relative;
    max-width: 100%;
}

.abczxc {
    position: relative;
    letter-spacing: -0.01em;
    line-height: 150%;
    font-weight: 600;
}

.frame-child11 {
    height: 57px;
    width: 199px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--secondary-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    display: none;
}

.text1 {
    flex: 1;
    position: relative;
    font-size: var(--font-size-xl);
    letter-spacing: -0.01em;
    line-height: 150%;
    font-weight: 600;
    font-family: var(--font-inter);
    color: var(--color-gray-600);
    text-align: center;
    z-index: 1;
}

.rectangle-parent8 {
    cursor: pointer;
    border: 1px solid var(--color-black);
    padding: var(--padding-sm) var(--padding-5xl) var(--padding-smi) var(--padding-4xl);
    background-color: var(--secondary-white);
    align-self: stretch;
    border-radius: var(--br-xs);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.variable-account,
.variable-account-inner {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.variable-account-inner {
    flex: 1;
    flex-direction: column;
    padding: var(--padding-53xl) 0 0;
    box-sizing: border-box;
    min-width: 129px;
}

.variable-account {
    width: 399px;
    flex-direction: row;
    gap: 0 91px;
    max-width: 100%;
}

.abczxc-label,
.account-receiver-frame,
.transactionresultpage {
    display: flex;
    text-align: center;
    color: var(--color-black);
    font-family: var(--font-inter);
}

.abczxc-label {
    align-self: stretch;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    gap: var(--gap-xl);
    font-size: var(--font-size-5xl);
}

.account-receiver-frame,
.transactionresultpage {
    flex-direction: column;
    justify-content: flex-start;
}

.account-receiver-frame {
    align-self: stretch;
    align-items: flex-start;
    gap: 23px 0;
    max-width: 100%;
    font-size: var(--font-size-5xl);
}

.transactionresultpage {
    width: 100%;
    position: relative;
    background-color: var(--secondary-white);
    overflow: hidden;
    align-items: center;
    padding: 97px var(--padding-9xl) 67px 116px;
    box-sizing: border-box;
    gap: 49px 0;
    letter-spacing: normal;
    font-size: var(--font-size-17xl);
}

@media screen and (max-width: 1050px) {
    .abczxc-label {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 1000px) {

    .abcbank,
    .thanh-ton-thnh,
    .vnd4 {
        font-size: var(--font-size-10xl);
        line-height: 43px;
    }
}

@media screen and (max-width: 725px) {
    .ngn-hang-thu-huong-label {
        flex-wrap: wrap;
    }

    .transactionresultpage {
        gap: 49px 0;
        padding-left: var(--padding-39xl);
        box-sizing: border-box;
    }
}

@media screen and (max-width: 450px) {

    .abcbank,
    .thanh-ton-thnh,
    .vnd4 {
        font-size: var(--font-size-3xl);
        line-height: 32px;
    }

    .tn-ngi-th,
    .truong-x {
        font-size: var(--font-size-lgi);
        line-height: 29px;
    }

    .person-frame {
        flex-wrap: wrap;
    }

    .ti-khon-th,
    .xxx-x {
        font-size: var(--font-size-lgi);
        line-height: 29px;
    }

    .payment-result-frame {
        flex-wrap: wrap;
    }

    .bidvbank1,
    .line-separator5,
    .m-giao-dch,
    .ngn-hng-th {
        font-size: var(--font-size-lgi);
        line-height: 29px;
    }

    .noidung-label {
        flex-wrap: wrap;
    }

    .ni-dung {
        font-size: var(--font-size-lgi);
        line-height: 29px;
    }

    .text-element {
        font-size: var(--font-size-base);
        line-height: 24px;
    }

    .abczxc {
        font-size: var(--font-size-lgi);
        line-height: 29px;
    }

    .text1 {
        font-size: var(--font-size-base);
        line-height: 24px;
    }

    .variable-account {
        flex-wrap: wrap;
        gap: 0 91px;
    }

    .transactionresultpage {
        padding-left: var(--padding-xl);
        box-sizing: border-box;
    }
}